<ion-view view-title="Home">
  <ion-content overflow-scroll="true" class="iframe-wrapper">
    <iframe data-tap-disabled="true" class="iframe-placeholder" ng-src="{{trustSrc(iframeURL)}}"></iframe>
  </ion-content>
</ion-view>